PORT=4000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net
JWT_SECRET=change-this-secret

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-this-password

CLOUDINARY_NAME=your-cloudinary-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_SECRET_KEY=your-cloudinary-secret-key

CURRENCY=INR
RAZORPAY_KEY_ID=your-razorpay-key-id
RAZORPAY_KEY_SECRET=your-razorpay-key-secret
STRIPE_SECRET_KEY=your-stripe-secret-key
